@import "signalwerk.documentation.md/root.css";

.slide-list {
  div[class^="grid-"] {
    border-top: 1px solid gray;
    margin-top: 2.4rem;
    margin-bottom: 1.4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }

  div[class^="col-"] > *:first-child {
    margin-top: 0;
  }
}
