/* HTML Color */

:root {
  --brown-color: rgb(178, 112, 0);
}

code.language-html {
  color: black;
}

.language-html .hljs-tag {
    color: var(--blue-color);
  }

.language-html .hljs-name,
  .language-html .hljs-attr {
    color: rgb(178, 112, 0);
    color: var(--brown-color);
  }

.language-html .hljs-string {
    color: var(--green-color);
  }

/* CSS Color */

code.language-css {
  color: var(--blue-color);
}

.language-css .hljs-selector-class {
    color: var(--green-color);
  }

.language-css .hljs-attribute {
    color: rgb(178, 112, 0);
    color: var(--brown-color);
  }

.language-css .hljs-comment {
    color: #888;
  }

.slide-list div[class^="grid-"] {
    border-top: 1px solid gray;
    margin-top: 2.4rem;
    margin-bottom: 1.4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }

.slide-list div[class^="col-"] > *:first-child {
    margin-top: 0;
  }

.next {
  border-color: #ffdd57;
  color: #947600;
  border-style: solid;
  border-width: 0 0 0 0.5rem;
  padding: 1.25em 1.5em;
  background-color: #f5f5f5;
  margin-bottom: 2rem;
}

.next h3 {
  margin-top: 0;
}

@media print {
  .navigation {
    display: none;
  }
}
