/* HTML Color */

:root {
  --brown-color: rgb(178, 112, 0);
}

code.language-html {
  color: black;
}

.language-html .hljs-tag {
    color: var(--blue-color);
  }

.language-html .hljs-name,
  .language-html .hljs-attr {
    color: rgb(178, 112, 0);
    color: var(--brown-color);
  }

.language-html .hljs-string {
    color: var(--green-color);
  }

/* CSS Color */

code.language-css {
  color: var(--blue-color);
}

.language-css .hljs-selector-class {
    color: var(--green-color);
  }

.language-css .hljs-attribute {
    color: rgb(178, 112, 0);
    color: var(--brown-color);
  }

.language-css .hljs-comment {
    color: #888;
  }

.slide-list h4::before {
    display: block;
    width: 100%;
    content: "";
    border-top: 1px solid gray;
    padding-bottom: 0.7rem;
  }

.slide-list ul {
    margin-top: 0.6rem;
  }

@media print {
  .navigation {
    display: none;
  }
}

@media (min-width: 1000px) {

.slide-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

  .slide-list h4::before {
      width: 222.22222%;
  }

  .slide-list h4,
  .slide-list ul {
      -ms-flex-negative: 1;
          flex-shrink: 1;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;

      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
  }

  .slide-list h4 {
      max-width: 45%;
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
  }

  .slide-list ul {
      margin-top: 1.4rem;
      max-width: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  }
  }

